<!DOCTYPE html>
<html lang="en">

<head>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	</link>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>DCHM</title>
	<script src="{{ url_for('static', filename='js/render.js') }}"></script>
</head>

<body>
	<div class="header">
		<h1>Render DCHM</h1>
	</div>
	<div class="row" id="black">
		<div class="column">
			<h2>Basin Selection</h2>
			<div class="form">
				<label for="region">Basin: </label>
				<select name="basin" id="basin">
					<option value="PRB">Pigeon River Basin (PRB)</option>
					<option value="LTTB">Little Tennessee/Tuckasegee Basins (LTTB)</option>
					<option value="LFBB" selected>Lower French Broad Basin (LFBB)</option>
					<option value="LPRB">Little Pigeon River Basin (LPRB)</option>
				</select>
			</div>
		</div>

		<div class="column" >
			<img src="/static/img/LFBB.png" class="basin-map" id="basin-map">
		</div>
	</div>
	<div class="row" id="black">
		<!-- Input Var Form -->
		<div class="column">
			<h2>Input Variables</h2>
			<div class="form">
				<label for="varname-input">Variable:</label>
				<select name="vname-input" id="varname-input"></select>
				<br> 
				<label for="date-input">Date:</label>
				<input type="date" id="date-input" name="date-input" min="2016-08-01" max="2019-12-31" value="2016-08-01">
				<br> 
				<label for="hour-input">Hour:</label>
				<input type="range" id="hour-input" name="hour-input" min="1" max="24" value="1" oninput="this.nextElementSibling.value = this.value">
				<output>1</output>
			</div>
		</div>
		<!-- Output Var Form -->
		<div class="column">
			<h2>Output Variables</h2>
			<div class="form">
				<label for="varname-output">Variable:</label>
				<select name="vname-output" id="varname-output"></select>
				<br> 
				<label for="date-output">Date:</label>
				<input type="date" id="date-output" name="date-output" min="2016-08-01" max="2019-12-31" value="2016-08-01">
				<br> 
				<label for="hour-output">Hour:</label>
				<input type="range" id="hour-output" name="hour-output" min="1" max="24" value="1" oninput="this.nextElementSibling.value = this.value">
				<output>1</output>
			</div>
		</div>

	</div>
	<div class="done"></div>
	<div class="row">
		<div class="column"><img class="render-input" id="renderedimg-input"></img></div>
		<div class="column"><img class="render-output" id="renderedimg-output"></img></div>
	</div>
	<button class="button render-btn" onclick="render()">Render</button>
	<p id="last-refreshed"></p>
	<iframe style="display:none" name="hidden-form"></iframe>
</body>

<script>
	document.getElementById('basin').onchange = () => {
		changeBasinImg(document.getElementById("basin").value);
		getVariableNames(document.getElementById("basin").value).then((data) => {
			fillOptions(document.getElementById('varname-output'), data);
		});
	}

	function changeBasinImg(path) {
		document.getElementById("basin-map").src = "/static/img/"+path+".png";
	}

	function getVariableNames(path, type) {
		const body = {
			ncpath: path,
			type: type
		};
		return fetch('/getVariableNames', {
			method: 'POST',
			headers: { 'Content-Type': 'application/json' },
			body: JSON.stringify(body),
		}).then(res => res.json());
	}

	function fillOptions(el, optionsList) {
		while (el.options.length) el.remove(0);
		optionsList.forEach(optionText => {
			const option = document.createElement('option');
			option.text = optionText.replaceAll('_', ' ');
			option.value = optionText;
			el.appendChild(option);
		});
	}
	window.onload = () => {
		getVariableNames(document.getElementById("basin").value, 'output').then((data) => {
			fillOptions(document.getElementById('varname-output'), data);
		});
		getVariableNames(document.getElementById("basin").value, 'input').then((data) => {
			fillOptions(document.getElementById('varname-input'), data);
		});
	}
</script>

</html>